.task-wrapper {
	border: 1px solid #404040;
	border-radius: 0.3rem;
	margin: 0.5rem 0;
	display: flex;
	align-items: center;
	color: white;
	background-color: #212121;
	font-size: 1.5rem;
}
.task-checkbox {
	margin: 1rem;
	width: 1rem;
	height: 1rem;
}
.task-text {
	flex-grow: 1;
}
.task-completed {
	text-decoration: line-through;
	font-style: italic;
	opacity: 0.4;
}
.task-remove-button {
	margin: 1rem;
	background-color: rgba(0,0,0,0);
	border: none;
	cursor: pointer;
}
.task-remove-icon {
	color: #fff;
}