.task-footer {
	display: flex;
	flex-flow: column;
}

.remove-completed-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	font-size: 1.125rem;
	font-family: 'Roboto';
	margin: 1rem 0.5rem 0.5rem;
	color: #FFFFFF;
	background-color: #303030;
	border: 1px solid #CCC;
	border-radius: 0.3rem;
	cursor: pointer;
}

.remove-all-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	font-size: 1.125rem;
	font-family: 'Roboto';
	margin: 0.5rem;
	color: #FFFFFF;
	background-color: #F44336;
	border: 1px solid #F44336;
	border-radius: 0.3rem;
	cursor: pointer;
}

.disabled {
	cursor: not-allowed;
}

@media (min-width: 768px) {
	.task-footer {
		margin: 0 1.75rem;
	}
}

@media (min-width: 1200px) {
	.task-footer {
		width: 50rem;
		flex-direction: row;
		place-content: flex-end;
		margin: 1rem auto;
	}
	.remove-completed-button {
		width: 12.5rem;
		margin: 0 1rem;
	}
	.remove-all-button {
		width: 12.5rem;
		margin: 0;
	}
}